
<% @body_id = :logged_in %>
<aside id="panel">
	<div class="wrap">
		<h2 class="module-head"><i class="icon-dashboard"></i> My Appliances</h2>
		<ul class="appliances iphone-toggle-buttons">
			<li>Heater
				<div class="tgl-btn">
					<label for="heater"><input type="checkbox" name="heater" id="heater" checked/><span>Lamp One</span></label>
				</div>
			</li>
			<li>Air Conditioning
				<div class="tgl-btn">
					<label for="fan"><input type="checkbox" name="fan" id="fan" checked/><span>Living Room</span></label>
				</div>
			</li>
			<li>Living Room
				<div class="tgl-btn">
					<label for="living_room"><input type="checkbox" name="living_room" id="living_room" checked/><span>Washer</span></label>
				</div>
			</li>
			<li>Stereo
				<div class="tgl-btn">
					<label for="stereo"><input type="checkbox" name="stereo" id="stereo" checked/><span>Stereo</span></label>
				</div>
			</li>
		</ul>
		<div class="pie-crust">
			<svg id="pie_svg"></svg>
		</div>
	</div>
	<div class="actions">
		<button class="btn btn-success">Apply Changes</button>
		<button class="btn">Cancel</button>
	</div>
	
</aside>

<section class="chart_module">
		<h2 class="module-head"><i class="icon-bolt"></i> My Realtime Energy Usage</h2>
		<div id="status_consuming" class="energy-status"><i class="icon-circle-arrow-down"></i> Consuming more</div> 
		<div id="status_producing" class="energy-status"><i class="icon-circle-arrow-up"></i> Producing more</div>
		<svg id="line_svg"></svg>
</section>

<div class="row-module">
	<section id="flow" class="inline-module">
		<div class="wrap">
			<div id="money_text">
			</div>
		</div>
	</section>
	<section id="achieve" class="inline-module">
		<div class="wrap">
			<h3 class="module-head"><i class="icon-trophy"></i> My Achievements</h3>
		</div>
	</section>
</div>
